@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lexend:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    
}
