main {
    width: 90%;
    margin: 30px auto;
}

.aplic-animated {
    animation: resurge 0.7s ease-in-out;
}

.text-main-top {
    position: absolute;
    z-index: 2;
}

.text-main-top p {
    font-size: 1.2rem;
    font-family: 'Comfortaa', cursive;
    margin: 12px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15.2258px;
    line-height: 23px
    
}

.text-main-top h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 38px;
}

.text-main-button {
    background-color: rgba(217, 217, 217, 1);
    margin-top: 40px;
    border: none;
    border-radius: 8px;
    padding: 7px 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 0.6rem;
    line-height: 8px;
}

.img-main-top {
    float: right;
    margin-top: 70px;
    position: relative;
}

.div-init-about-me {
    display: block;
    text-align: center;
}

.div-init-about-me h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 29px;
}

.my-info {
    margin-top: 40px;
    text-align: center;
}


.my-info-img img {
    margin: auto;
    width: 90px;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid rgb(77, 193, 247);
}

.my-info-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 147.5%;
}

.stacks {
    display: block;
    text-align: center;
}

.stacks img {
    width: 80%;
    margin: auto;
}

.section-my-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projcts {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.section-contact {
    margin-top: 40px;
}

.section-contact h3 {
    text-align: center;
}


.contact-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.border-conf {
    border: 1px solid;
    border-image-slice: 1;
    border-width: 2px;
}

.input {
    margin-bottom: 7px;
    padding: 3px 6px;
    border-radius: 10px;
    width: 100%;
    border-radius: 10px;
	border: 2px solid transparent;
	cursor: pointer;
}

.input-name {
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgba(192, 187, 54, 1), rgba(46, 137, 13, 0.89)) border-box;
    border-radius: 50em;
}

.input-email {
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgba(192, 187, 54, 1), rgba(97, 0, 255, 0.89)) border-box;
	border-radius: 50em;
}

.text-area {
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgba(192, 187, 54, 1), rgba(97, 0, 255, 0.89)) border-box;
}

.button-submit {
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgba(192, 187, 54, 1), rgba(97, 0, 255, 0.89)) border-box;
}

#submit {
    width: 50%;
    float: right;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-color {
    height: 40px;
    width: 80px;
    background: linear-gradient(180deg, #E4CA3F 0%, rgba(29, 151, 129, 0.3) 100%);
}

.box-color-left {
    border-radius: 0 30px 0 0;
}

.networking img {
    width: 30px;
    margin: 7px;
}

.box-color-rigth {
    border-radius: 30px 0 0 0;
}

@keyframes resurge {
    0% {
        transform: translateY(30px);
        opacity: 0.0;
    }

    25% {
        transform: translateY(20px);
        opacity: 0.1;
    }

    50% {
        transform: translateY(13px);
        opacity: 0.4;
    }

    75% {
        transform: translateY(5px);
        opacity: 0.7;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}